/* .top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
}

.topLeft,.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
  }

.topCenter {
    flex: 6;
}

.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
  }

.topCenter{
    flex: 6;
} */

.top {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563 /* #2b5876 #4e4376 */
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);

  transition: 0.5s;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 9999999999999999999;
  color: #bdc3c7;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.top:hover {
  background-position: right center;
}

.topList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 70px;
  width: 80%;
  margin: auto;
}

.topList_left {
  display: flex;
}

.topList_left .topListItem {
  margin: 0 15px;
}

.topRight {
  display: flex;
}

.topRight .topListItem {
  margin: 0 15px;
}

/* .topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
  } */
